# 载入世界并自动启动服务器。
world=./tshock/world/t-world.wld

# 如果找不到任何世界，则创建一个新世界。世界大小由下式指定：1（小型）、2（中型）和 3（大型）。
autocreate=2

# 使用 -autocreate 时，设定世界种子。
#seed=AwesomeSeed

# 使用 -autocreate 时，设定世界名称。
worldname=T-World

# 使用 -autocreate 时，设定世界难度：0（经典），1（专家），2（大师），3（旅行）
difficulty=1

# 设置服务器上允许的最大玩家数。数字须在 1 到 255 之间
maxplayers=8

# 设置端口
port=7777

# 设置服务器密码
password=

# 设置白天讯息
motd=Hello World

# 设置世界文件储存的文件夹
worldpath=./tshock/world

# 指定 banlist（封禁列表）的位置。默认在工作目录中的“banlist.txt”。
banlist=banlist.txt

# 加额外的作弊保护。
secure=0

# 使用语言对应的编码设置服务器语言。
# English = en-US, German = de-DE, Italian = it-IT, French = fr-FR, Spanish = es-ES, Russian = ru-RU, Chinese = zh-Hans, Portuguese = pt-BR, Polish = pl-PL,
language=zh-Hans

# 使用 uPNP 自动转发端口
# upnp=0

# 减少敌怪的跳过，但增加带宽使用。数字越低，跳过的次数就越少，但发送的数据越多。0 代表关闭。
# npcstream=60

# 默认系统优先级。0：实时；1：高；2：高于通常；3：普通；4：低于通常；5：静默
priority=1

# 每项旅行模式能力的许可设置：0：对所有人禁用；1：只能由服主进行更改；2：可被所有人更改
# journeypermission_time_setfrozen=2
# journeypermission_time_setdawn=2
# journeypermission_time_setnoon=2
# journeypermission_time_setdusk=2
# journeypermission_time_setmidnight=2
# journeypermission_godmode=2
# journeypermission_wind_setstrength=2
# journeypermission_rain_setstrength=2
# journeypermission_time_setspeed=2
# journeypermission_rain_setfrozen=2
# journeypermission_wind_setfrozen=2
# journeypermission_increaseplacementrange=2
# journeypermission_setdifficulty=2
# journeypermission_biomespread_setfrozen=2
# journeypermission_setspawnrate=2
